# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SocialNetwork.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Rider
.idea/
SocialNetwork/bin
SocialNetwork/obj

# Logs
*.log

# ASP.NET
wwwroot/lib/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
